* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width:270px) and (min-width:728px){
body {
     background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165)); 
}
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}
@media  screen and (max-width: 768px){
    .container {
        height: 100vh;
        width: 100vw;
        display: grid;
        place-items: center;
    }
    
    .calculator {
        position: relative;
        height: auto;
        width: auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 30px #000;
    }
}

.theme-toggler {
    position: absolute;
    top: 10px;
    right: 20px;
    color:  #f7d308;
    cursor: pointer;
    z-index: 1;
}
.theme-toggler p{
    color: #f7d308;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.theme-toggler.active {
    color: #333;
}

/* .theme-toggler.active::before {
    background-color: rgb(255, 30, 30);
} */



#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}


  /* dark theme */

  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #2d191e;
    color: #bd3740;
  }

  .calculator.dark button.btn-number {
    background-color: #f7d308;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #f15c06b2;
    color: #f8f3f8;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #33222e;
    color: #ffffff;
  }
  